body {
    background-color: pink;
    text-align: center;
}

h1 {
    font-family: cursive, monospace;
    color: blue;
   
}

.black {
    background-color: gray;
}

.white {
    background-color:white;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


.board td {
    
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.2s;
}

.board td:hover {
    background-color: rgba(252, 217, 203, 0.452);
}

.cell {
    height: 50px;
    width: 50px;
    background-color: rebeccapurple;
}

.smiley {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .Levels button{
    cursor: pointer;
}

.Hints button{
    cursor: pointer; 
}

.timer {

        background-color: skyblue;
        height: 30px;
        width: 50px;
        margin: auto;
        border-radius: 15%; 
        cursor: wait;
}

.Message {
    font-style: italic;

}